<div class="crearCuenta">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <h1 style="font-family:Verdana, Geneva, Tahoma, sans-serif; padding: 20px;">Crear una cuenta</h1>
  <form [formGroup]="form" (ngSubmit)="enviar()"> 
    
    <div class="formulario-usuario">
      <label for="usuarioNombre">Nombre:</label>
      <input id="usuarioNombre" #usuarioNombre placeholder="Nombre" type="text" formControlName="nombre"/>
  
      <label for="usuarioCorreo">Correo:</label>
      <input id="correo" #usuarioCorreo placeholder="Correo" type="email"  [(ngModel)] = "registroUsu.correo" formControlName="correo"/>

      <label for="usuarioContrasenia">Contraseña:</label>
      <input id="contrasenia" #usuarioContrasenia placeholder="Contraseña" [(ngModel)] = "registroUsu.contrasenia" type="password" formControlName="contrasenia"/>
  
      <label for="usuarioContrasenia2">Confirmar contraseña:</label>
      <input id="contrasenia2" #usuarioContrasenia placeholder="Confirmar contraseña"  type="password" formControlName="confContrasenia"/>
      
      <label for="condiciones" class="condiciones"> <!--  white-space el texto aparece en una sola linea -->
        <input type="checkbox" id="condiciones" formControlName="condiciones">
        Acepta los <a href="/assets/terminosCond.html" target="_blank" rel="noopener noreferrer">términos y condiciones</a>
      </label>

      <button class="enviar" type="submit" >Crear cuenta</button> 
    </div> <!-- Este es el cierre de "formulario-usuario" -->
  </form>
  <div class="login">
    <p>¿Ya tienes una cuenta en <strong>BeautyLu</strong>?</p>
    <button class="opciones" (click)="navigateTo('login')">Iniciar sesión</button>
  </div>
</div> <!-- Este es el cierre de "crearCuenta" -->

<div class="modal" *ngIf="mostrarModalError">
  <div class="modal-contenido">
    <p>{{modalMensajeError}}</p>
    <button class="opciones" (click)="cerrarModal()">Aceptar</button>
  </div>
</div>

<div class="modal" *ngIf="mostrarModal">
  <div class="modal-contenido">
    <p>{{modalMensaje}}</p>
    <button class="opciones" (click)="navigateTo('lista')">Aceptar</button>
  </div>
</div>
  
