.infoPers {
    max-width: 650px;
    margin: 90px auto;
    padding: 20px;
    background-color: #EFEFEF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .infoPers h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .pregunta {
    margin-bottom: 25px;
    width: 100%;
  }
  
  .pregunta p {
    font-weight: bold;
    margin-bottom: 10px;
    color: #5f5e5e;
  }
  
  .pregunta select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #474747;
    border-radius: 5px;
    background-color: #EFEFEF;
  }
  
  button {
    background-color: #585757;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  button:hover {
    background-color: #808080;
    transform: scale(1.02);
  }
  
  button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .infoPers h3 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .infoPers p {
    font-size: 16px;
    color: #444;
    margin-top: 10px;
    text-align: left;
    max-width: 500px;
  }
  