<div class="infoPers">
    <h2>Test para saber tu tipo de piel</h2>

    <button *ngIf="!mostrarTest && !tipoDetectado" (click)="mostrarTest = true">
        Iniciar Test
    </button>

    <div *ngIf="mostrarTest">
        <div *ngFor="let p of preguntasPiel; let i = index" class="pregunta">
            <p>{{ p.texto }}</p>
            <select [(ngModel)]="respuestasPiel[i]">
                <option value="" disabled>Selecciona una opción</option>
                <option *ngFor="let op of p.opciones" [value]="op">{{ op }}</option>
            </select>
        </div>
        <button (click)="guardarResultado()" [disabled]="respuestasPiel.includes('')">
            Ver resultado
        </button>
    </div>

    <div *ngIf="tipoDetectado">
        <h3>Tu tipo de piel detectado es: {{ tipoDetectado | titlecase }}</h3>
        <p>{{ descripcionesTiposPiel[tipoDetectado] }}</p>
        <button (click)="volverAHacerTest()" class="btn btn-primary">
          Realizar test nuevamente
        </button>
      </div>