<button class="agregar" (click)="navigateTo('anyadirProd')">Añadir productos</button> 

<div class="overflow">
    <div class="modal-contenido" *ngIf="productos.length == 0">
      <p>No hay productos disponibles</p>
    </div>
    <div class="producto-grid" *ngIf="productos.length > 0">
      <div class="carta-producto" *ngFor="let producto of productos; let i = index" (click)="navigateTo('detalle')" style="cursor: pointer;">
        <h3>{{ producto.nombre }}</h3>
         <img [src]="producto.urlImagen" alt="Vista Previa de la Imagen" style="width: 85%; margin: 0 auto; text-align: center;"/> 
        <!-- <p><strong>Tipo:</strong> {{ getTipoNombre(producto.tipo_id) }}</p> 
        <p><strong>Subtipo:</strong> {{ getSubtipo(producto.subtipo) }}</p>  -->
        <p>{{ acortarDescripcion(producto.descripcion || '', producto.urlImagen.length > 100) }}</p>
        <p class="precio">{{ producto.precio }}€</p>
        
        <!-- <div class="grupo-botones">
          <button (click)="eliminarAnimal(animal.animal_id)">
            Eliminar
            <img src="https://cdn-icons-png.flaticon.com/512/860/860829.png" class="basura">
          </button>
  
          <div class="modal" *ngIf="mostrarModal">
            <div class="modal-contenido">
              <p>{{ modalMensaje }}</p>
              <button class="detalles-boton" (click)="confirmarEliminacion()">Aceptar</button>
              <button class="detalles-boton" (click)="cerrarModal()">Cerrar</button>
            </div>
          </div>
  
         
        </div> -->
      </div>
    </div>
  </div>