body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #faf4f5; /* fondo blanco rosado */
}

.añadir-producto {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: #faf4f5; /* rosa pastel claro */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(128, 66, 76, 0.2); /* ciruela oscuro */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-producto {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.formulario-producto label {
    font-weight: bold;
    color: #4A3B4C; /* morado grisáceo oscuro */
    margin-bottom: 10px;
}

.formulario-producto input,
.formulario-producto select,
.formulario-producto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #C6A4A4; /* lavanda pálido */
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FDEFF0; /* blanco rosado */
}

.formulario-producto textarea {
    height: 150px;
    resize: none;
    overflow-y: auto;
}

.enviar {
    display: block;
    margin: 0 auto;
    background-color: #F8AFA6; 
    color: #4A3B4C;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 200px;
}

.enviar:hover {
    background-color: #F38C80;
    transform: scale(1.02);
}

/*------------------------------MODAL-------------------------*/
.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 59, 76, 0.5); /* morado grisáceo oscuro semitransparente */
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: #FFFBFC; /* blanco rosado */
    padding: 20px;
    border: 1px solid #D8CFF0; /* lavanda pálido */
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(128, 66, 76, 0.2); /* sombra ciruela */
    text-align: center;
    font-size: 25px;
    max-width: 400px;
    width: 90%;
}

.opciones {
    background-color: #FED8D0; /* melocotón suave */
    color: #4A3B4C;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.opciones:hover {
    background-color: #F38C80;
    transform: scale(1.05);
}
