body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.añadir-producto {
    max-width: 650px;
    margin: 50px auto;
    padding: 20px;
    background-color: #EFEFEF;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario-producto {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.formulario-producto label {
    font-weight: bold;
    color: #5f5e5e;
    margin-bottom: 10px;
}

.formulario-producto input,
.formulario-producto select,
.formulario-producto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 1px solid #474747;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #EFEFEF;
}

.enviar {
    display: block;
    margin: 0 auto;
    background-color: #585757;
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 200px;
}

.enviar:hover {
    background-color: #808080;
    transform: scale(1.02);
}

/*------------------------------MODAL-------------------------*/
.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
  }
  
  .modal-contenido {
    background-color: #EFEFEF;
    padding: 20px;
    border: 1px solid;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 25px;
    max-width: 400px;
    width: 90%;
  }
  
  .opciones {
    background-color: #585757;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .opciones:hover {
    background-color: #808080;
    transform: scale(1.05);
  }
  