<div class="detalles-producto" *ngIf="formProducto">
  <form [formGroup]="formProducto" (ngSubmit)="enviar()">
    <div class="producto">
      <div class="producto-imagen">
        <img [src]="producto!.urlImagen" alt="Vista Previa de la Imagen"
          style="width: 40%; margin: 0 auto; text-align: center;" />
      </div>
      <div class="producto-nombre">
        <input type="text" [disabled]="!isEditing" formControlName="nombre" />
      </div>
    </div>

    <div class="elemento-detalles">
      <label>Precio:</label>
      <input type="number" [disabled]="!isEditing" formControlName="precio" />
    </div>

      <div class="elemento-detalles">
        <label>Descripción:</label>
        <textarea [disabled]="!isEditing" formControlName="descripcion"></textarea>
      </div>
  
      <div class="contenedor-modal" *ngIf="!isEditing && esAdmin">
        <button type="button" class="editar-boton" (click)="habilitarEdicion()">Editar</button>
      </div>
  
      <div class="contenedor-modal" *ngIf="isEditing">
        <button class="volver-boton" (click)="volverALaLista()">Volver a la lista</button>
        <button type="submit" class="editar-boton">Guardar cambios</button>
      </div>
    </form>
  </div>
  
  <div class="modal" *ngIf="mostrarModal">
    <div class="modal-contenido">
      <p>{{ modalMensaje }}</p>
      <button class="detalle-añadir" (click)="cerrarModal()">Aceptar</button>
    </div>
  </div>